<% content_for :body do %>
  <ul id="customers">
    <% @customers.each do |customer| %>
      <li>
        <%= link_to customer.name, refinery.products_customer_path(customer) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
