<h1>Order submitted</h1>
<div class="container white"><div class="row">
  <div class="col m10 offset-m1">
    <p>Your order has been submitted and marked as paid.</p>
    <br>
    <p>We appreciate your business!</p>
  </div>
</div></div>
