<% content_for :body do %>
  <ul id="orders">
    <% @orders.each do |order| %>
      <li>
        <%= link_to order, refinery.order_order_path(order) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
